# Copy to .env and fill values. Do NOT commit your real .env file.
SUPABASE_URL=https://ebqwfrlganlbhtaywvpr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVicXdmcmxnYW5sYmh0YXl3dnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MDk0MDEsImV4cCI6MjA5MzQ4NTQwMX0.BCrYRPVgFr4ZwHD5XLV3YuPic9bHB_yqZel6_tVfoNg
